.status_items {
    display: flex;
    flex-direction: row;
    width: 180px;
}

.status_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    height: 84px;
}

.status_text P:nth-of-type(1) {
    margin-bottom: 14px;
    font-size: 18px;
    font-family: Adobe Heiti Std R;
    font-weight: normal;
    color: rgba(254, 254, 254, 1);
}

.status_text P:nth-of-type(2) {
    font-size: 20px;
    font-family: number;
    font-weight: bolder;
}

.green1 .progress,
.green2 .progress,
.green3 .progress,
.green4 .progress,
.green5 .progress,
.green6 .progress,
.green7 .progress,
.green8 .progress {
    position: relative;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}




.green1 .progress .inner,
.green2 .progress .inner,
.green3 .progress .inner,
.green4 .progress .inner,
.green5 .progress .inner,
.green6 .progress .inner,
.green7 .progress .inner,
.green8 .progress .inner {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    border-radius: 50%;
    width: 74px;
    height: 74px;
    border: 5px solid #1a1a1a;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* .green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
    width: 74px;
    height: 74px;
} */
/* .green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
    border: 5px solid #1a1a1a;
} */
/* .green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
} */

.green1 .progress .inner .water,
.green2 .progress .inner .water,
.green3 .progress .inner .water,
.green4 .progress .inner .water,
.green5 .progress .inner .water,
.green6 .progress .inner .water,
.green7 .progress .inner .water,
.green8 .progress .inner .water {
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 200%;
    left: -50%;
    border-radius: 40%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

/* .green .progress .inner .water {
    top: 25%;
} */



/* .green .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
} */
/* .green .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
} */

.green1 .progress .inner .glare,
.green2 .progress .inner .glare,
.green3 .progress .inner .glare,
.green4 .progress .inner .glare,
.green5 .progress .inner .glare,
.green6 .progress .inner .glare,
.green7 .progress .inner .glare,
.green8 .progress .inner .glare {
    position: absolute;
    top: -120%;
    left: -120%;
    z-index: 5;
    width: 200%;
    height: 200%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* .green .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
    background-color: rgba(255, 255, 255, 0.15);
} */
/* .green .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
} */

.green1 .progress .inner .percent,
.green2 .progress .inner .percent,
.green3 .progress .inner .percent,
.green4 .progress .inner .percent,
.green5 .progress .inner .percent,
.green6 .progress .inner .percent,
.green7 .progress .inner .percent,
.green8 .progress .inner .percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 64px;
    font-size: 16px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    color: #fff;
}


.green1 .progress {
    border: 5px solid #8B57E2;
    box-shadow: 0 0 20px #8B57E2;
}

.green1 .progress .inner .water {
    background: linear-gradient(0deg, rgba(137, 54, 190, 1), rgba(169, 46, 204, 1));
    box-shadow: 0 0 20px #8B57E2;
    top: 25%;
}

.status_text .number span{
    color: #fff;
    font-size: 12px;
    margin-left: 4px;
}  


.status_text1 .number{
    color:rgba(194,100,250,1);
}  

.status_text2 .number{
    color:rgba(8,197,118,1);
}  
.status_text3 .number{
    color:rgba(255,219,0,1);
}  
.status_text4 .number{
    color:rgba(36,103,240,1);
}  
.status_text5 .number{
    color:rgba(253,104,146,1);
}  
.status_text6 .number{
    color:rgba(3,223,223,1);
}  
.status_text7 .number{
    color:rgba(255,135,46,1);
}  
.status_text8 .number{
    color:rgba(36,103,240,1);
}  




.green2 .progress {
    border: 5px solid #08B154;
    box-shadow: 0 0 20px #08B154;
}

.green2 .progress .inner .water {
    background: linear-gradient(0deg, rgba(2, 168, 133, 1), rgba(13, 220, 106, 1));
    box-shadow: 0 0 20px #08B154;
    top: 75%;
    z-index: -1;
}


.green3 .progress {
    border: 5px solid #EED500;
    box-shadow: 0 0 20px #EED500
}

.green3 .progress .inner .water {
    background:linear-gradient(0deg,rgba(255,95,0,1),rgba(255,225,0,1));
    box-shadow: 0 0 20px #EED500;
    top: 75%;
}



.green4 .progress {
    border: 5px solid #3075DA;
    box-shadow: 0 0 20px #3075DA;
}

.green4 .progress .inner .water {
    background:linear-gradient(0deg,rgba(48,58,175,1),rgba(42,122,239,1));
    box-shadow: 0 0 20px #3075DA;
    top: 75%;
}


.green5 .progress {
    border: 5px solid #FD6892;
    box-shadow: 0 0 20px #FD6892;
}

.green5 .progress .inner .water {
    background:linear-gradient(0deg,rgb(216, 20, 0.55),rgba(239,82,127,1));
    box-shadow: 0 0 20px #FD6892;
    top: 75%;
}



.green6 .progress {
    border: 5px solid #03DFDF;
    box-shadow: 0 0 20px #03DFDF;
}

.green6 .progress .inner .water {
    background:linear-gradient(0deg,rgba(11,143,143,1),rgba(3,223,223,1));
    box-shadow: 0 0 20px #03DFDF;
    top: 75%;
}



.green7 .progress {
    border: 5px solid #FF872E;
    box-shadow: 0 0 20px #FF872E;
}

.green7 .progress .inner .water {
    background:linear-gradient(0deg,rgba(156,83,29,1),rgba(255,135,46,1));
    box-shadow: 0 0 20px #FF872E;
    top: 75%;
}



.green8 .progress {
    border: 5px solid #3075DA;
    box-shadow: 0 0 20px #3075DA;
}

.green8 .progress .inner .water {
    background:linear-gradient(0deg,rgba(48,58,175,1),rgba(42,122,239,1));
    box-shadow: 0 0 20px #3075DA;
    top: 75%;
}



.orange {
    margin-top: 15px;
}

.orange .progress {
    border: 5px solid #f07c3e;
}

.orange .progress {
    box-shadow: 0 0 20px #7e320a;
}

.orange .progress .inner .water {
    top: 50%;
}

.orange .progress .inner .water {
    background: rgba(240, 124, 62, 0.5);
}

.orange .progress .inner .water {
    box-shadow: 0 0 20px #a0400c;
}

.orange .progress .inner .percent {
    color: #a8430d;
}

.orange .progress .inner .percent {
    text-shadow: 0 0 10px #7e320a;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }